<div>
  <br />
  <h2>Technologies/Frameworks to Explore Next:</h2>
  <br />
  <ul class="todos">
    <li *ngFor="let todo of todos" (click)="onSelect(todo)" class="row">
      <span class="badge" style="text-align:center;">{{ todo.id }}</span>
      <span class="display-name" style="text-align:center;">{{
        todo.name
      }}</span>
    </li>
  </ul>
</div>
<div *ngIf="selectedTodo">
  <h2>{{ selectedTodo.name | uppercase }} Details</h2>
  <div><span>id: </span>{{ selectedTodo.id }}</div>
  <div>
    <label
      >name:
      <input [(ngModel)]="selectedTodo.name" placeholder="name" />
    </label>
  </div>
</div>
