<!--The content below is only a placeholder and can be replaced.-->
<nz-layout>
  <nz-header>
    <!-- <div class="body logo"> -->
    <h1>New technologies board</h1>
  </nz-header>
  <nz-content>
    <nz-breadcrumb>
      <nz-breadcrumb-item routerLink="/dashboard">
        Currently working on
      </nz-breadcrumb-item>
      <nz-breadcrumb-item routerLink="/todos">Full list</nz-breadcrumb-item>
    </nz-breadcrumb>
    <div class="inner-content">
      <router-outlet></router-outlet>
    </div>
    <app-messages></app-messages>
  </nz-content>
  <nz-footer>Ant Design ©2019 Implement By Angular</nz-footer>
  <!-- </div>  -->
</nz-layout>
