<!--The content below is only a placeholder and can be replaced.-->
<nz-layout>
  <nz-header>
    <h1 routerLink="/dashboard">New technologies board</h1>
  </nz-header>
  <nz-content>
    <nz-breadcrumb>
      <nz-breadcrumb-item routerLink="/dashboard">
        Currently working on
      </nz-breadcrumb-item>
      <nz-breadcrumb-item routerLink="/todos">To explore</nz-breadcrumb-item>
      <nz-breadcrumb-item>Have explored</nz-breadcrumb-item>
    </nz-breadcrumb>
    <div class="inner-content">
      <router-outlet></router-outlet>
    </div>
    <app-messages></app-messages>
  </nz-content>
  <nz-footer></nz-footer>
  <!-- </div>  -->
</nz-layout>
