.body {
  padding: 20px;
}

a {
  margin: 15px;
}

/* AppComponent's private CSS styles */
h1 {
  font-size: 2.2em;
  margin-bottom: 0;
  font-family: 'Fjalla One', sans-serif;
  color: white;
  cursor: pointer;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}

[nz-menu] {
  line-height: 64px;
}

nz-header {
  background-color: #334953;
}

nz-breadcrumb {
  margin: 16px 0;
  margin-left: 25%;
}

nz-breadcrumb-item {
  margin: 16px 0;
  cursor: pointer;
}

nz-content {
  padding: 0 50px;
}

nz-footer {
  text-align: center;
}

.inner-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}
