.body {
  padding: 20px;
  background-color: #f0f2f5;
}

a {
  margin: 15px;
}

/* AppComponent's private CSS styles */
h1 {
  font-size: 220%;
  margin-bottom: 0;
  font-family: 'Fjalla One', sans-serif;
  color: #f49464;
  cursor: pointer;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}

[nz-menu] {
  line-height: 64px;
}

nz-header {
  background-color: #c2e1de;
  height: 6em;
}

nz-breadcrumb {
  margin: 1em;
  margin-left: 35%;
  color: #f49464;
}

nz-breadcrumb-item {
  margin: 16px 0;
  cursor: pointer;
  font-family: 'Fjalla One', sans-serif;
  color: #f49464;
}

.title3 {
  color: #f49464 !important;
}

nz-content {
  padding: 0 50px;
}

nz-footer {
  text-align: center;
  background-color: #f0f2f5;
}

.inner-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}
